</section>
</div>
</main>
<script>
var mimes = <%- JSON.stringify(mimes) %>;
var media_api_url = '<%- media_api_url %>';
var token = '<%- token %>';
</script>
<% if (env == 'production') {%>
<script src="https://unpkg.com/vue@3.2.31/dist/vue.global.prod.js"></script>
<% } else { %>
<script src="https://unpkg.com/vue@3"></script>
<% } %>
<%- include('add_rule_modal'); %>
<%- include('footer'); %>