<div class="container">
    <div class="columns">
        <div class="column col-6">
            <h1>Rule <%= rule.name %></h1>
        </div>
        <div class="column col-5">
            <p style="margin: 0;"><strong>Size Ratio (<%= mediaStats.total %>):</strong></p>
            <div class="bar">
                <div class="bar-item tooltip tooltip-bottom" data-tooltip="Commited Media" style="width:<%= mediaStats.commitedPercentage %>%;"><%= mediaStats.commited %></div>
                <div class="bar-item tooltip tooltip-bottom" data-tooltip="Uncommited Media" style="width:<%= mediaStats.uncommitedPercentage %>%;background:#818bd5;"><%= mediaStats.uncommited %></div>
            </div>
        </div>
        <div class="column col-1">
            <div class="float-right">
                <button class="btn tooltip tooltip-bottom" data-tooltip="Edit Rule"><i class="icon icon-edit"></i></button>
                <a href="/rule/<%= rule.id %>/drop" class="btn tooltip tooltip-bottom" data-tooltip="Delete Rule"><i class="icon icon-delete"></i></a>
            </div>
        </div>
    </div>
</div>