<div class="container">
    <div class="columns">
        <div class="column col-6">
            <h1>Rule <%= rule.name %></h1>
        </div>
        <div class="column col-5">
            <p style="margin: 0;"><strong>Size Ratio <span v-if="totalStats != ''">({{ totalStats }})</span>:</strong></p>
            <i v-if="isStatsLoading" class="loading"></i>
            <div v-if="!isStatsLoading" class="bar">
                <div class="bar-item tooltip tooltip-bottom" :data-tooltip="`Commited Media (${commitedStats})`" :style="`width:${commitedPercentageStats}%;`">{{ commitedStats }}</div>
                <div class="bar-item tooltip tooltip-bottom" :data-tooltip="`Uncommited Media (${uncommitedStats})`" :style="`width:${uncommitedPercentageStats}%;background:#818bd5;`">{{ uncommitedStats }}</div>
            </div>
        </div>
        <div class="column col-1">
            <div class="float-right">
                <a href="#edit-rule-modal" class="btn tooltip tooltip-bottom" data-tooltip="Edit Rule"><i class="icon icon-edit"></i></a>
                <a href="/rule/<%= rule.id %>/drop" class="btn tooltip tooltip-bottom" data-tooltip="Delete Rule"><i class="icon icon-delete"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="upload-modal">
    <a href="#close" class="modal-overlay" aria-label="Close"></a>
    <div class="modal-container">
      <div class="modal-header">
        <a href="#close" class="btn btn-clear float-right" aria-label="Close"></a>
        <div class="modal-title h5">Upload</div>
      </div>
      <div class="modal-body">
        <div class="content">
          <taro-container server-url="<%- media_api_url %>" apiKey="<%- token %>" rule="<%- rule.name %>"></taro-container>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" @click="commitUpload">Commit</button>
      </div>
    </div>
  </div>