<% if(uncommitedMedia.length < 1) {%>
  <div class="empty">
      <p class="empty-title h5">You have no medias</p>
      <p class="empty-subtitle">Click the button to start a upload media.</p>
      <div class="empty-action">
          <button class="btn btn-primary">Upload Media</button>
      </div>
  </div>
<% } else { %>
<div style="margin: 10px 5px;">
  <button class="btn">Upload Media</button>
  <button class="btn btn-error tooltip tooltip-bottom" data-tooltip="Clean Uncommited Media">Clean Media</button>
</div>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Size (KB.)</th>
            <th>Ext</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
      <% uncommitedMedia.forEach(function(media, idx){ %>
        <tr>
            <td><%= idx + 1 %></td>
            <td><a href="<%= media.url %>" target="_blank"><%= media.aliasName %></a></td>
            <td><%= parseInt(media.size) %></td>
            <td><span class="tooltip tooltip-bottom" data-tooltip="<%= media.mime %>"><%= media.ext %></span></td>
            <td>
              <div class="popover popover-bottom">
                  <i class="icon icon-more-vert"></i>
                  <div class="popover-container" style="width: auto;">
                      <div class="card">
                          <div class="card-body">
                              <button class="btn btn-link" onclick="commitMedia('<%= media.id %>')">Commit Media</button>
                              <button class="btn btn-link text-error" onclick="deleteMedia('<%= media.id %>')">Delete Media</button>
                          </div>
                      </div>
                  </div>
              </div>
            </td>
        </tr>
    <% }); %>
    </tbody>
</table>
<% } %>